@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #121212, #1e1e1e);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.btn {
    background: linear-gradient(90deg, #007bff, #00d4ff);
    border: none;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #444444, #777373);
}

nav {
    background-color: black;
    color: white;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    margin: 0 23px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}

.logo:hover {
    color: grey;

}


ul {
    display: flex;
    margin: 0 23px;
    align-items: center;
}

ul>li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul>li:hover {
    color: grey;

}

table,
td,
tr {
    border: 2px solid black;
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    padding: 5px 13px;
}

.container {
    max-width: 80vw;
    margin: 23px auto;
}

h1,
h2,
h3 {
    margin: 23px 0;
}

.btn {
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}

.btnsm {
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    cursor: pointer;
}

img {
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}

#alert {
    display: none;
}

#username {
    border-radius: 20px;
}

#website {
    border-radius: 20px;
}

#password {
    border-radius: 20px;
}